[user]
	name = Jon Lighthall
	email = jon.lighthall@gmail.com
[credential]
	helper = cache --timeout 172800
	helper = store --file ~/.git-credentials
[core]
	editor = /cygdrive/c/Program\\ Files\\ \\(x86\\)/emacs-25.1-i686-w64-mingw32/bin/emacs.exe -nw `cygpath -w ${1}` && set
