[user]
	name = Jon Lighthall
	email = jon.lighthall@gmail.com
[credential]
	helper = cache --timeout 172800
	helper = store --file ~/.git-credentials
[push]
	default = simple
[core]
	fileMode = false
